.barra-brasil {
	background: #7f7f7f;
	height: 20px;
	padding: 0 0 0 10px;
	margin: 0;
	display: block;
}
.menu-barra-temp {
	list-style: none;
	li {
		display: inline;
		float: left;
		padding-right: 10px;
		margin-right: 10px;
		border-right: 1px solid #ededed;
		a {
			font-family: sans, sans-serif;
			text-decoration: none;
			color: white;
		}
	}
}
