:host {
	--letter-gap: #{$spacing-xl};
	.content {
		margin-top: $spacing-xxl;
		margin-bottom: $spacing-xxl;
		column-gap: $spacing-lg;

		@include sm {
			grid-column-start: 1;
			grid-column-end: 3;
			columns: 1;
			.category {
				margin-bottom: $spacing-md;
			}
			.data > *:first-child {
				margin-right: $spacing-md;
			}
			.contact {
				padding-bottom: $spacing-md;
				&:not(:last-child) {
					.main-text {
						padding-bottom: $spacing-md;
					}
				}
			}
		}

		@include md {
			grid-column-start: 1;
			grid-column-end: 5;
			columns: 2;
			.category {
				margin-bottom: $spacing-md;
			}
			.data > *:first-child {
				margin-right: $spacing-md;
			}
			.contact {
				padding-bottom: $spacing-md;
				&:not(:last-child) {
					.main-text {
						padding-bottom: $spacing-md;
					}
				}
			}
		}

		@include lg {
			grid-column-start: 1;
			grid-column-end: 7;
			columns: 3;
			.category {
				margin-bottom: $spacing-lg;
			}
			.data > *:first-child {
				margin-right: $spacing-lg;
			}
			.contact {
				padding-bottom: $spacing-md;
				&:not(:last-child) {
					.main-text {
						padding-bottom: $spacing-md;
					}
				}
			}
		}

		@include xl {
			grid-column-start: 1;
			grid-column-end: 7;
			columns: 3;
			.category {
				margin-bottom: $spacing-xl;
			}
			.data > *:first-child {
				margin-right: $spacing-xl;
			}
			.contact {
				padding-bottom: $spacing-md;
				&:not(:last-child) {
					.main-text {
						padding-bottom: $spacing-md;
					}
				}
			}
		}
	}

	// .section > div:first-child *{
	//     color: $text-dark;
	// }

	.section {
		break-inside: avoid;
		&:not(:first-child) {
			margin-top: $spacing-xxl;
		}
	}

	.contact {
		width: 75%;

		&:not(:last-child) {
			.main-text {
				border-bottom: 2px solid rgba($text-dark, 0.2);
			}
		}

		.data {
			.letter,
			.name {
				color: $text-primary;
				mvs-paragraph {
					color: $text-primary;
				}
			}
		}

		.main-text {
			padding-bottom: 0;
			margin-bottom: 0;
		}

		.data {
			//margin-left: calc(var(--letter-gap) * -1);
			display: grid;
			grid-auto-flow: column;
			grid-template-columns: var(--letter-gap) 1fr;
			color: $text-dark-70;
		}

		.data > *:first-child {
			//vertical-align: top;

			mvs-paragraph {
				color: $text-primary;
			}
		}
	}
}
