:host {
	--letter-gap: #{$spacing-xl};
	.content {
		margin-top: $spacing-xxl;
		margin-bottom: $spacing-xxl;
		columns: 2;
		column-gap: $spacing-lg;

		@include sm {
			grid-column-start: 1;
			grid-column-end: 3;
		}

		@include md {
			grid-column-start: 1;
			grid-column-end: 5;
		}

		@include lg {
			grid-column-start: 2;
			grid-column-end: 4;
		}

		@include xl {
			grid-column-start: 2;
			grid-column-end: 6;
		}
	}

	// .section > div:first-child *{
	//     color: $text-dark;
	// }

	.section {
		break-inside: avoid;
		&:not(:first-child) {
			margin-top: $spacing-xxl;
		}
	}

	.category {
		@include sm {
			margin-bottom: $spacing-md;
		}

		@include md {
			margin-bottom: $spacing-md;
		}

		@include lg {
			margin-bottom: $spacing-lg;
		}

		@include xl {
			margin-bottom: $spacing-xl;
		}
	}

	.contact {
		width: 50%;

		&:not(:last-child) {
			.main-text {
				box-shadow: 0 2px 0 0 rgba($text-dark, 0.2);
				padding-bottom: $spacing-md;
				margin-bottom: $spacing-md;
			}
		}

		.data {
			.letter,
			.name {
				color: $text-primary;
				mvs-paragraph {
					color: $text-primary;
				}
			}
		}

		.main-text {
			padding-bottom: 0;
			margin-bottom: 0;
		}

		.data {
			margin-left: calc(var(--letter-gap) * -1);
			display: grid;
			grid-auto-flow: column;
			grid-template-columns: var(--letter-gap) 1fr;
			color: $text-dark-70;
		}

		.data > *:first-child {
			//vertical-align: top;

			@include sm {
				margin-right: $spacing-md;
			}

			@include md {
				margin-right: $spacing-md;
			}

			@include lg {
				margin-right: $spacing-lg;
			}

			@include xl {
				margin-right: $spacing-xl;
			}

			mvs-paragraph {
				color: $text-primary;
			}
		}
	}
}
