header {
	background-blend-mode: multiply;
	display: flex;
	position: fixed;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	z-index: 9999;
	height: 150px;
	width: 100%;
	background: linear-gradient(rgba($color-black, 0.7), transparent);
	box-shadow: 0 3px 5px rgba($color-black, 0);
	transition: height, padding-top $transition-cubic-03;
	@include xl {
		padding: 39.5px 92px 0 92px;
		width: calc(100% - 184px);
	}
	@include lg {
		padding: 34.5px 80px 0 80px;
		width: calc(100% - 160px);
	}
}

mvs-mob-button,
mvs-mob-drawer {
	@include xl {
		visibility: hidden;
	}
	@include lg {
		visibility: hidden;
	}
}

.links {
	margin-left: auto;
	@include md {
		visibility: hidden;
	}
	@include sm {
		visibility: hidden;
	}
}

.mob-links {
	color: $color-primary;
}

.link-brand {
	transition: height $transition-cubic-03;
	@include xl {
		height: 120px;
		padding: 19.5px;
	}
	@include lg {
		height: 110px;
		padding: 17.5px;
	}
	@include md {
		height: 80px;
		padding: 16.5px;
	}
	@include sm {
		height: 80px;
		padding: 15px;
		margin-top: -60px;
	}
}

.slideDown {
	height: 150px;
	background: linear-gradient(rgba($color-black, 0.7), transparent);
	box-shadow: 0 3px 5px rgba($color-black, 0);
}

.slideUp {
	height: 90px;
	padding-top: 0px;
	background: $color-primary;
	box-shadow: 0 3px 5px rgba($color-black, 0.3);
	img.link-brand {
		@include xl {
			height: 80px;
			padding-left: 21px;
		}
		@include lg {
			height: 80px;
			padding: 17.5px;
		}
		@include md {
			height: 80px;
			padding: 16.5px;
		}
		@include sm {
			height: 80px;
			padding: 15px;
			margin: 0;
		}
	}
}
