:host > * {
	color: $text-dark;
	margin-block-start: 0px;
	margin-block-end: 0px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-size: 1em;
}

.white {
	color: $text-light;
}

.t1,
.t2,
.t3,
.t4,
.t5,
.t6 {
	&.overline {
		margin-top: 15px;
	}
	margin-block-start: 0px;
	margin-block-end: 0px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.t1 {
	font-family: $font-playfair-display;
	font-weight: 700;
	&.sans {
		font-family: $font-proza-libre;
		font-weight: 600;
	}
}

.t2,
.t4,
.t6 {
	font-family: $font-alegreya-sans;
	font-weight: 400;
}

.t3,
.t5 {
	font-family: $font-alegreya-sans;
	font-weight: 700;
}

@include xl {
	.t1 {
		font-size: 56px;
		line-height: 64px;
	}
	.t2 {
		font-size: 56px;
		line-height: 64px;
	}
	.t3 {
		font-size: 42px;
		line-height: 48px;
	}
	.t4 {
		font-size: 42px;
		line-height: 56px;
	}
	.t5 {
		font-size: 36px;
		line-height: 40px;
	}
	.t6 {
		font-size: 36px;
		line-height: 48px;
	}
}

@include lg {
	.t1 {
		font-size: 48px;
		line-height: 56px;
	}
	.t2 {
		font-size: 48px;
		line-height: 56px;
	}
	.t3 {
		font-size: 35px;
		line-height: 48px;
	}
	.t4 {
		font-size: 35px;
		line-height: 48px;
	}
	.t5 {
		font-size: 30px;
		line-height: 40px;
	}
	.t6 {
		font-size: 30px;
		line-height: 40px;
	}
}

@include md {
	.t1 {
		font-size: 40px;
		line-height: 48px;
	}
	.t2 {
		font-size: 40px;
		line-height: 48px;
	}
	.t3 {
		font-size: 30px;
		line-height: 40px;
	}
	.t4 {
		font-size: 30px;
		line-height: 40px;
	}
	.t5 {
		font-size: 27px;
		line-height: 32px;
	}
	.t6 {
		font-size: 27px;
		line-height: 32px;
	}
}

@include sm {
	.t1 {
		font-size: 32px;
		line-height: 40px;
	}
	.t2 {
		font-size: 32px;
		line-height: 40px;
	}
	.t3 {
		font-size: 25px;
		line-height: 32px;
	}
	.t4 {
		font-size: 25px;
		line-height: 32px;
	}
	.t5 {
		font-size: 23px;
		line-height: 24px;
	}
	.t6 {
		font-size: 23px;
		line-height: 24px;
	}
}
