:host {
	display: block;
	box-sizing: border-box;
}

:host,
:host > * {
	//font-family: 'Alegreya Sans';
	margin-block-start: 0;
	margin-block-end: 0;

	span {
		display: block;
	}
	.one {
		@include xl {
			font: $subtitle1-xl;
			letter-spacing: 0.3px;
			margin-top: calc(16px - 25px);
			margin-bottom: calc((16px - 25px) * 0.8);
		}
		@include lg {
			font: $subtitle1-lg;
			letter-spacing: 0.3px;
			margin-top: calc(16px - 23px);
			margin-bottom: calc((16px - 23px) * 0.8);
		}
		@include md {
			font: $subtitle1-md;
			letter-spacing: 0.3px;
			margin-top: calc(15px - 23px);
			margin-bottom: calc((15px - 23px) * 0.8);
		}
		@include sm {
			font: $subtitle1-sm;
			letter-spacing: 0.2px;
			margin-top: calc(15px - 23px);
			margin-bottom: calc((15px - 23px) * 0.8);
		}
	}
	.two {
		@include xl {
			font: $subtitle2-xl;
			letter-spacing: 0.3px;
		}
		@include lg {
			font: $subtitle2-xl;
			letter-spacing: 0.3px;
		}
		@include md {
			font: $subtitle2-xl;
			letter-spacing: 0.3px;
		}
		@include sm {
			font: $subtitle2-xl;
			letter-spacing: 0.2px;
		}
	}
}
