:host {
	--container-margin: calc(var(--grid-gap) / 2);
	*:focus {
		outline: none;
	}
}

[class^='item'] {
	//border: 1px solid red;
	margin: 0.5rem;
	height: 200px;
	border-radius: 5px;
	transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
	.cover {
		//border: 1px solid red;
		border-radius: 5px;
		background-color: cyan;
		height: 200px;
		width: 100%;
	}
	.content {
		//border: 1px solid red;
		position: absolute;
		left: 0;
		margin-top: var(--container-margin);
		overflow: hidden;
		height: 0;
		width: 100%;
		transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
		> div {
			margin: 0 var(--container-padding);
		}
		p {
			padding: 30px;
			background-color: lightgrey;
			margin: 0 0.5rem;
			opacity: 0.95;
			height: 156px;
		}
	}
	&:active,
	&:focus {
		height: 400px;
		.content {
			height: 218px;
			//min-height: 200px;
		}
	}
}
