$screen-sm-max: 750px;
$screen-md-min: 751px;
$screen-md-max: 1400px;
$screen-lg-min: 1401px;
$screen-lg-max: 1750px;
$screen-xl-min: 1751px;

$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing-md: 24px;
$spacing-lg: 32px;
$spacing-xl: 48px;
$spacing-xxl: 64px;

$inset-sm: 16px;
$inset-md: 24px;
$inset-lg: 32px;
$inset-xl: 48px;
$inset-xxl: 64px;

$inset-squish-sm: 8px 16px;
$inset-squish-md: 16px 24px;
$inset-squish-lg: 24px 32px;
$inset-squish-xl: 32px 48px;
$inset-squish-xxl: 48px 64px;

$inset-strech-sm: 16px 8px;
$inset-strech-md: 24px 16px;
$inset-strech-lg: 32px 24px;
$inset-strech-xl: 48px 32px;
$inset-strech-xxl: 64px 32px;

$color-primary: rgba(0, 51, 153, 1);
$color-primary-light: rgba(57, 79, 219, 1);
$color-primary-dark: rgba(0, 39, 121, 1);

$color-secondary: rgba(0, 114, 219, 1);
$color-secondary-light: rgba(73, 165, 249, 1);
$color-secondary-dark: rgba(0, 83, 179, 1);

$color-deep-black: rgba(0, 0, 0, 1);
$color-black: rgba(1, 28, 68, 1);
$color-dark: rgba(57, 66, 89, 1);
$color-medium: rgba(156, 168, 198, 1);
$color-light: rgba(193, 203, 235, 1);
$color-white: rgba(236, 238, 255, 1);

$text-light: rgba(255, 255, 255, 0.9);
$text-light-70: rgba(255, 255, 255, 0.7);
$text-dark: rgba(0, 0, 0, 0.9);
$text-dark-70: rgba(0, 0, 0, 0.7);
$text-primary: rgba(0, 31, 100, 1);
$text-secondary: rgba(134, 182, 255, 1);

$color-error: rgba(255, 108, 126, 1);
$color-error-light: rgba(255, 187, 195, 1);
$color-error-dark: rgba(244, 77, 99, 1);

$color-warning: rgba(255, 246, 116, 0.1);
$color-warning-light: rgba(255, 251, 194, 1);
$color-warning-dark: rgba(240, 228, 65, 1);

$color-confirm: rgba(72, 227, 166, 1);
$color-confirm-light: rgba(153, 255, 215, 1);
$color-confirm-dark: rgba(50, 212, 148, 1);

$text-confirm: rgba(117, 1, 15, 0.9);
$text-error: rgba(1, 72, 39, 0.9);

$font-alegreya-sans: 'Alegreya Sans', sans-serif;
$font-alegreya-sans-sc: 'Alegreya Sans SC', sans-serif;
$font-playfair-display: 'Playfair Display', serif;
$font-proza-libre: 'Proza Libre', sans-serif;
$font-body: 'PT Serif', serif;

$font-bold: 700;
$font-semibold: 600;
$font-emphasis: italic;

$transition-cubic-03: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
$transition-cubic-02: 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
$transition-cubic-01: 0.1s cubic-bezier(0.25, 0.8, 0.25, 1);

$shadow-regular-hover: 0 8px 10px rgba($color-black, 0.2),
	0 4px 6px rgba($color-black, 0.1);
$shadow-regular: 0 3px 6px rgba($color-black, 0.2),
	0 3px 6px rgba($color-black, 0.1);

$shadow-dark-hover: 0 8px 10px rgba($color-deep-black, 0.2),
	0 4px 6px rgba($color-deep-black, 0.1);
$shadow-dark: 0 3px 6px rgba($color-deep-black, 0.2),
	0 3px 6px rgba($color-deep-black, 0.1);
