button {
	cursor: pointer;
	position: relative;
	overflow: hidden;
	color: $color-primary;
	text-transform: lowercase;
	background-color: rgba(0, 0, 0, 0);
	font-family: $font-alegreya-sans-sc;
	font-weight: 700;
	letter-spacing: 1px;
	border-radius: 3px;
	border: none;
	vertical-align: middle;
	transition: all $transition-cubic-03;
	padding: $inset-sm;
	&.ghost,
	&.contained {
		margin: $spacing-xs 0 0 0;
		&:hover {
			margin: 0 0 $spacing-xs 0;
		}
	}
	@include xl {
		min-width: 90px;
		min-height: 22px;
		font-size: 23px;
	}
	@include lg {
		min-width: 81px;
		min-height: 20px;
		font-size: 21px;
	}
	@include md {
		min-width: 75px;
		min-height: 15px;
		font-size: 19px;
	}
	@include sm {
		min-width: 69px;
		min-height: 15px;
		font-size: 18px;
	}
	&.marginzero {
		margin: 0px !important;
	}
	&:hover,
	&:focus,
	&:active {
		outline: none;
	}
	&:disabled,
	&:disabled > *,
	&:disabled:hover,
	&:disabled:active {
		cursor: default;
		color: rgba($color-black, 0.25);
	}

	&.ghost {
		position: relative;
		background-color: rgba(0, 0, 0, 0);
		border: 2px solid $color-primary-dark;
		transform: perspective(1px) translateZ(0);
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		position: relative;
		&:disabled,
		&:disabled > *,
		&:disabled:hover,
		&:disabled:active {
			cursor: default;
			border-color: rgba($color-black, 0.25);
		}
		&:hover,
		&:focus,
		&:active {
			outline: none;
		}
		&:hover,
		&:focus {
			border: 2px solid $color-secondary;
		}
		&:active {
			border: 2px solid $color-primary-dark;
			background-color: rgba($color-primary, 0.15);
		}
	}

	&.contained {
		background-color: $color-primary;
		color: $text-light;
		border: 2px solid $color-primary;
		box-shadow: 0 3px 5px rgba($color-black, 0.3),
			0 3px 5px rgba($color-primary-dark, 0.3);
		&:disabled,
		&:disabled > *,
		&:disabled:hover,
		&:disabled:active {
			cursor: default;
			color: rgba($text-light, 0.4);
			background-color: $color-primary-dark;
			border-color: $color-primary-dark;
			box-shadow: 0 0px 0px rgba($color-black, 0.3),
				0 0px 0px rgba($color-primary-dark, 0.3);
		}
		&:hover {
			box-shadow: 0 10px 20px rgba($color-black, 0.3),
				0 6px 6px rgba($color-primary-dark, 0.3);
		}
		&:focus {
			outline: none;
			background-color: $color-primary-light;
			border-color: $color-primary-light;
			box-shadow: 0 3px 5px rgba($color-black, 0.3),
				0 3px 5px rgba($color-primary-dark, 0.3);
		}
		&:active {
			background-color: $color-primary-light;
			border-color: $color-primary-light;
			box-shadow: 0 15px 30px rgba($color-black, 0.3),
				0 11px 15px rgba($color-primary-dark, 0.3);
		}
	}
}
