:host {
	--container-margin: var(--grid-gap);
	--local-padding: var(--container-padding);
	--shape-height: 80vw;
	--multiplier: 4;

	@include xl {
		--shape-height: 23vw;
		--multiplier: 0.6;
	}
	@include lg {
		--shape-height: 23vw;
		--multiplier: 1;
	}
	@include md {
		--shape-height: 23vw;
		--multiplier: 2;
	}
	@include sm {
		--shape-height: 80vw;
		--multiplier: 2.2;
	}

	*:focus {
		outline: none;
	}
}

[class^='item'] {
	//border: 1px solid red;
	//margin: 0.5rem;
	height: var(--shape-height);
	border-radius: $border-radius;
	transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
	.cover {
		//border: 1px solid red;
		border-radius: $border-radius;
		background-color: $color-primary;
		height: var(--shape-height);
		/* transition: all $transition-cubic-03;
		box-shadow: $shadow-regular;
		&:hover {
			box-shadow: $shadow-regular-hover;
		} */

		img {
			height: var(--shape-height);
			border-radius: $border-radius;
			display: block;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			width: 100%;
			object-fit: cover;
			overflow: hidden;
		}
	}
	.container {
		//border: 1px solid red;
		position: absolute;
		left: 0;
		margin-top: var(--container-margin);
		overflow: hidden;
		height: 0;
		width: 100%;
		transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
	}
	.content {
		mvs-grid {
			height: 100% !important;
		}
		margin: 0 var(--local-padding);
		padding: 30px;
		background-color: $color-white;
		opacity: 0.95;
		height: calc(var(--shape-height) - calc(var(--container-margin)));
		border-radius: $border-radius;
	}

	@include xl {
		.heading {
			grid-column-start: 1;
			grid-column-end: 3;
		}
		.cargo {
			font: $smallcaps-xl;
			color: $text-primary;
			margin-top: $spacing-lg;
		}
		.contato,
		.links {
			margin-top: $spacing-xs;
		}
		.links {
			color: $text-primary;
		}
		.main-text {
			//padding-top: calc(#{$spacing-xl} + #{$spacing-lg});
			padding-top: 10px;
			padding-bottom: $spacing-xl;
			grid-column-start: 3;
			grid-column-end: end;
		}

		.container {
			margin-top: var(--grid-gap);
		}
		.content {
			margin: 0 var(--local-padding);
			padding: 30px;
			height: 368px;
			border-radius: $border-radius;
		}

		&:active,
		&:focus {
			height: calc(var(--shape-height) + 490px - var(--grid-gap));
			.container {
				height: calc(640px - var(--grid-gap) * 2);
			}
		}
	}

	@include lg {
		.heading {
			grid-column-start: 1;
			grid-column-end: 3;
		}
		.cargo {
			font: $smallcaps-xl;
			color: $text-primary;
			margin-top: $spacing-lg;
		}
		.contato,
		.links {
			margin-top: $spacing-xs;
		}
		.links {
			color: $text-primary;
		}
		.main-text {
			//padding-top: calc(#{$spacing-xl} + #{$spacing-lg});
			padding-top: 10px;
			padding-bottom: $spacing-xl;
			grid-column-start: 3;
			grid-column-end: end;
		}

		.container {
			margin-top: var(--grid-gap);
		}
		.content {
			margin: 0 var(--local-padding);
			padding: 30px;
			height: 348px;
			border-radius: $border-radius;
		}

		&:active,
		&:focus {
			height: calc(var(--shape-height) + 455px - var(--grid-gap));
			.container {
				height: calc(640px - var(--grid-gap) * 2);
			}
		}
	}

	@include md {
		.heading,
		.cargo,
		.main-text {
			grid-column-start: 1;
			grid-column-end: span 4;
		}
		.cargo {
			font: $smallcaps-sm;
			color: $text-primary;
			margin-top: 0;
		}
		.contato,
		.links {
			margin-top: $spacing-xs;
		}
		.links {
			color: $text-primary;
		}
		.main-text {
			//padding-top: calc(#{$spacing-xl} + #{$spacing-lg});
			padding-top: $spacing-md;
			padding-bottom: $spacing-xl;
		}

		.container {
			margin-top: var(--grid-gap);
		}
		.content {
			margin: 0 var(--local-padding);
			padding: 30px;
			height: 448px;
			border-radius: $border-radius;
		}

		&:active,
		&:focus {
			height: calc(var(--shape-height) + 560px - var(--grid-gap));
			.container {
				height: calc(640px - var(--grid-gap) * 2);
			}
		}
	}

	@include sm {
		.heading,
		.cargo,
		.main-text {
			grid-column-start: 1;
			grid-column-end: span 2;
		}
		.cargo {
			font: $smallcaps-sm;
			color: $text-primary;
			margin-top: 0;
		}
		.contato,
		.links {
			margin-top: $spacing-xs;
		}
		.links {
			color: $text-primary;
		}
		.main-text {
			//padding-top: calc(#{$spacing-xl} + #{$spacing-lg});
			padding-top: $spacing-md;
			padding-bottom: $spacing-xl;
		}

		.container {
			margin-top: var(--grid-gap);
		}
		.content {
			margin: 0 var(--local-padding);
			padding: 30px;
			height: 548px;
			border-radius: $border-radius;
		}

		&:active,
		&:focus {
			height: calc(var(--shape-height) + 640px - var(--grid-gap));
			.container {
				height: calc(640px - var(--grid-gap) * 2);
			}
		}
	}

	/* &:active,
	&:focus {
		height: calc(var(--shape-height) * 2 + var(--grid-gap));
		.container {
			height: var(--shape-height);
			//min-height: 200px;
		}
	} */
}
