a {
    color: inherit;
    text-decoration: underline $color-primary-light;
    &:hover, &:active {
        color: $color-primary-light;
    }
    &:visited {
        color: lighten($text-dark, 50%);
        &:hover, &:active {
            color: $color-primary-light;
        }
    }
}
