mvs-countdown {
	.root {
		position: relative;
		width: 300px;
		height: 300px;
	}
	.canvas {
		height: 300px;
		&:after {
			align-items: center;
			content: attr(data-days) 'dias';
			display: flex;
			font-size: 3rem;
			justify-content: center;
			position: absolute;
		}
	}
	.tag {
		font-family: $font-alegreya-sans;
		width: 300px;
		height: 300px;
		align-items: center;
		display: flex;
		flex-direction: column;
		font-size: 3rem;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		.number {
			font-size: 64px;
			font-weight: 700;
		}
	}
}

$theme-color: $color-primary;
$back-color: $color-white;

mvs-countdown {
	.progress-circle {
		$size: 15rem;
		background-color: $back-color;
		border-radius: 50%;
		display: inline-block;
		height: $size;
		margin: 4rem 2rem 0;
		position: relative;
		width: $size;

		&:before {
			align-items: center;
			background-color: #fff;
			border-radius: 50%;
			content: attr(data-progress) '%';
			display: flex;
			font-size: 3rem;
			justify-content: center;
			position: absolute;
			left: 1rem;
			right: 1rem;
			top: 1rem;
			bottom: 1rem;
			transition: transform 0.2s ease;
		}

		&:after {
			background-color: $theme-color;
			border-radius: 50%;
			content: '';
			display: inline-block;
			height: 100%;
			width: 100%;
		}
	}
}

$step: 1;
$loops: round(100 / $step);
$increment: 360 / $loops;
$half: round($loops / 2);

@for $i from (0) through ($loops) {
	.progress-circle[data-progress=#{'"' + $i * $step + '"'}]:after {
		@if $i < $half {
			$next-deg: 90deg + $increment * $i;
			background-image: linear-gradient(
					90deg,
					$back-color 50%,
					transparent 50%,
					transparent
				),
				linear-gradient(
					$next-deg,
					$theme-color 50%,
					$back-color 50%,
					$back-color
				);
		} @else {
			$next-deg: -90deg + $increment * ($i - $half);
			background-image: linear-gradient(
					$next-deg,
					$theme-color 50%,
					transparent 50%,
					transparent
				),
				linear-gradient(270deg, $theme-color 50%, $back-color 50%, $back-color);
		}
	}
}
