mvs-countdown {
	--width: 150px;
	--height: 150px;
	--font-size-num: 120px;

	@include xl {
		--width: 300px;
		--height: 300px;
		--font-size-num: 120px;
	}
	@include lg {
		--width: 250px;
		--height: 250px;
		--font-size-num: 112px;
	}
	@include md {
		--width: 220px;
		--height: 220px;
		--font-size-num: 96px;
	}
	@include sm {
		--width: 150px;
		--height: 150px;
		--font-size-num: 64px;
	}

	.root {
		position: relative;
		width: var(--width, 300px);
		height: var(--height, 300px);
	}
	.canvas {
		height: var(--height, 300px);
		&:after {
			align-items: center;
			content: attr(data-days) 'dias';
			display: flex;
			font-size: 3rem;
			justify-content: center;
			position: absolute;
		}
	}
	.tag {
		color: $color-white;
		font-family: $font-alegreya-sans;
		width: var(--width, 300px);
		height: var(--height, 300px);
		align-items: center;
		display: flex;
		flex-direction: column;
		font-size: 3rem;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		.number {
			font-size: var(--font-size-num);
			font-weight: 700;
		}
	}
}
