:host {
	font-family: $font-alegreya-sans;
	.capitular::first-letter {
		float: left;
		@include xl {
			font: $capitular-sm;
			margin: -12px 7.5px 7.5px 0;
		}
		@include lg {
			font: $capitular-md;
			margin: -10.2px 6.5px 6.5px 0;
		}
		@include md {
			font: $capitular-lg;
			margin: -9.3px 6px 6px 0;
		}
		@include sm {
			font: $capitular-xl;
			margin: -8.5px 5.5px 5.5px 0;
		}
	}
}

.primary {
	color: $text-primary;
}

.secondary {
	color: $text-secondary;
}

.white {
	color: $text-light;
}

.bodyone {
	@include xl {
		font: $body1-sm;
		letter-spacing: 0.6px;
		margin-top: calc(21px - 30px);
		margin-bottom: calc((21px - 30px) * 0.8);
	}
	@include lg {
		font: $body1-md;
		letter-spacing: 0.5px;
		margin-top: calc(19px - 27px);
		margin-bottom: calc((19px - 27px) * 0.8);
	}
	@include md {
		font: $body1-lg;
		letter-spacing: 0.4px;
		margin-top: calc(17px - 25px);
		margin-bottom: calc((17px - 25px) * 0.8);
	}
	@include sm {
		font: $body1-xl;
		letter-spacing: 0px;
		margin-top: calc(16px - 23px);
		margin-bottom: calc((16px - 23px) * 0.8);
	}
}
.bodytwo {
	margin-block-start: 0;
	margin-block-end: 0;
	@include xl {
		font: $body2-sm;
		letter-spacing: 0.5px;
		margin-top: calc(20px - 30px);
		margin-bottom: calc((20px - 30px) * 0.8);
	}
	@include lg {
		font: $body2-md;
		letter-spacing: 0.4px;
		margin-top: calc(18px - 27px);
		margin-bottom: calc((18px - 27px) * 0.8);
	}
	@include md {
		font: $body2-lg;
		letter-spacing: 0.3px;
		margin-top: calc(16px - 25px);
		margin-bottom: calc((16px - 25px) * 0.8);
	}
	@include sm {
		font: $body2-xl;
		letter-spacing: 0px;
		margin-top: calc(15px - 23px);
		margin-bottom: calc((15px - 23px) * 0.8);
	}
}
