:host {
	width: 100%;
}

div {
	border-radius: 3px;
	box-sizing: border-box;
	box-shadow: $shadow-regular;
	transition: box-shadow $transition-cubic-03;
	&:hover {
		box-shadow: $shadow-regular-hover;
	}
}

.primary {
	background-color: $color-primary;
}
.secondary {
	background-color: $color-secondary;
}
.black {
	background-color: $color-black;
}
.dark {
	background-color: $color-dark;
}
.medium {
	background-color: $color-medium;
}
.light {
	background-color: $color-light;
}
.white {
	background-color: $color-white;
}
.error {
	background-color: $color-error;
}
.warning {
	background-color: $color-warning;
}
.confirm {
	background-color: $color-confirm;
}
