:host {
	width: 100%;

	cursor: pointer;
	a {
		text-decoration: none;
		color: inherit;
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	.media-container {
		margin-left: -$inset-sm;
		margin-right: -$inset-sm;
		margin-top: -$inset-sm;
	}
	.media {
		display: block;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		width: 100%;
		object-fit: cover;
	}
	.root {
		overflow: hidden;
		min-height: 200px;
		position: relative;
		padding: $inset-sm;
		border-radius: 3px;
		box-sizing: border-box;
		box-shadow: 0 3px 5px $color-black, 0 3px 5px $color-primary-dark;
		transition: box-shadow $transition-cubic-03;
		&:hover {
			box-shadow: 0 10px 20px $color-black, 0 6px 6px $color-primary-dark;
		}
	}
	.text {
		padding: $inset-strech-md;
		display: flex;
		flex-direction: column;
		& > *:not(:last-child) {
			padding-bottom: $spacing-lg;
		}
		mvs-paragraph {
			margin-top: $spacing-lg;
		}
		mvs-paragraph::before {
			content: '';
			margin-top: -$spacing-lg;
			position: absolute;
			display: inline-block;
			width: calc(100% - 2 * (#{$inset-sm} + #{$inset-md}));
			height: 2px;
			background-color: rgba($color-black, 0.3);
		}
		mvs-button {
			z-index: 5;
			margin: -$spacing-sm;
		}
		.buttons {
			display: flex;
			& > * {
				padding-right: calc(2 * #{$spacing-sm} + #{$spacing-xs});
			}
		}
	}

	@include xl {
		.media {
			height: 264px;
		}
	}

	@include lg {
		.media {
			height: 216px;
		}
	}

	@include md {
		.media {
			height: 184px;
		}
		.text > *:not(:last-child) {
			padding-bottom: $spacing-md;
			mvs-paragraph {
				margin-top: $spacing-md;
			}
			mvs-paragraph::before {
				margin-top: -$spacing-md;
				width: calc(100% - 2 * (#{$inset-sm} + #{$inset-md}));
			}
		}
	}

	@include sm {
		.media {
			height: 144px;
		}
		.text {
			padding: $inset-strech-sm;
			& > *:not(:last-child) {
				padding-bottom: $spacing-sm;
			}
			mvs-paragraph {
				margin-top: $spacing-sm;
			}
			mvs-paragraph::before {
				margin-top: -$spacing-sm;
				width: calc(100% - 4 * #{$inset-sm});
			}
		}
	}
}
